@import "../../node_modules/spectre.css/dist/spectre.min.css";
@import '../../node_modules/antd/dist/antd.css';

html,
body, #root {
    height: 100%;
    background: #222347;
    color: white;
}

.ant-radio-wrapper {
    color: white;
}

.column:first-child {
    padding-right: 0;
}

.container {
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;

    header {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        label {
            margin-right: 5px;
        }

        > div {
            display: flex;
            align-items: center;
        }
    }

    main {
        flex: 1;
        position: relative;
    }

    footer {
        height: 180px;

        > div {
            padding: 10px 0;
        }
    }
}

.gtitle {
    text-transform: capitalize;
}
